<?xml version="1.0" encoding="UTF-8"?>
<configuration>

     <system.web>
        <identity impersonate="true" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Frame-Options" />
                <remove name="X-Content-Type-Options" />
                <remove name="x-xss-protection" />
                <remove name="strict-transport-security" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
